@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
html{
    font-family: 'Open Sans', sans-serif;
}
body{
    width: 100%;
    background-color: white;
    font-family: sans-serif;
}
@media screen and (min-width: 640px){
    div@body{
    width: 160px;
    }
}
/*sidebar*/
#navbar{
    background-color: aquamarine;
    position: fixed;
    top: -50px;
    width: 100%;
    display: block;
    transition: top 0.5s;
}
#navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}
#navbar a:hover{
    background-color: black;
    color: aquamarine;
}

/*ul{
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 560px;
    background-color: aquamarine;
}
li a{
    display: block;
    color: #000;
    padding: 9px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: aliceblue;
    color: mediumaquamarine;
}*/
.welcome{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.item{
    margin-top: 45vh;
    flex-grow: 4;
}
.profilepic{
    background-image: url('https://user-images.githubusercontent.com/56841226/168668297-b49d98e7-8369-4198-b006-cff3dab74f8e.jpeg');
    background-size: cover;
    height: 30vh;
    width: 30vh;
    border-radius: 90vh;

}
.profiletext{
    width: 70vh;
    padding: 2vh;
    border-radius: 12px 10px;
    background-color: beige;
}

#welcome{
    padding-top: 50vh;
    width: 560px;
    margin: auto;
}
.welcome_text{
    font-size: 28px;
}
.space{
    width: 100vh;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12vh;
    /*width: 560px;
    height: 600px;
    background-color: hsla(160,100%,80%);
    margin: auto;*/
}
.space-0{
    background-color: hsla(160,100%,80%);
}
.space-1{
    background-image: url('https://user-images.githubusercontent.com/56841226/123907069-98081680-d975-11eb-8892-696bae9ac954.png');
    margin-top: 12vh; 
}
.space-2{
    background-image: url('https://user-images.githubusercontent.com/56841226/123907940-faade200-d976-11eb-9146-3f031bf62e04.jpg');
    margin-top: 12vh;
}
.space-3{
    background-image: url('https://user-images.githubusercontent.com/56841226/168764233-913fcd78-98ca-414d-9449-bf47c98a09a1.jpg');
    margin-top: 12vh;
}
#about{
    width: 560px;
    margin: auto;
    font-size: 23px;
    border: solid 2px;
    border-color: coral;
    border-radius: 3vh;
    padding: 4vh;
}
.border{
    position: relative;
}
.border:before{
    content: '';
    position: absolute;
    left: 0;
    
}

@keyframes border_anim{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
#work{
    width: 560px;
    margin: auto;
    font-size: 20px; 
    border: solid 1px;
    border-color: darkorchid;
    border-radius: 2vh;
    padding: 4vh;
}
.work a:hover{
    color: aquamarine;
}
.work img{
    padding-left: 6px;
}

.work{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding-top: 10px;
}
.workimg{
    width: 300px;
    margin: auto;
    height: auto;
}
/*SKILLS*/
#skills{
    width: 560px;
    margin: auto;
    
}
.languages{
    width: 560px;
    margin: auto;
}
.pl-container{
    display: flex;
}
.pl{
  width: 100px;
  height: 30px;
  background-color: aquamarine;
  border-radius: 30px;
  color: #fff;
  text-align: center;
  margin: 10px;
padding-top: 10px;
    padding-bottom: 10pxM
}
.container{
    width: 80%;
    background-color: #ddd;
    margin: auto;
}
.lg{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 13px;
    color: white;
}

.jp{
    width: 100%;
    background-color: chocolate;
}
.en{
    width: 60%;
    background-color: bisque
}
.sp{
    width: 80%;
    background-color: coral;
}
.ca{
    width: 60%;
    background-color: bisque;
}
.po{
    width: 40%;
    background-color: cyan;
}

/* スキル全体を囲うdiv */
.skill {
  margin: 30px 0; /* 上下のマージンを指定 */
}

/* スキルの情報 */
.skill-info {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

/* スキルの熟練度（パーセンテージ） */
.skill-percentage {
  opacity: 0; /* 初期状態では透明に */
  transition: opacity 0.6s;
}

/* スキルバーの親要素 */
.skill-bar-container {
  position: relative;
  width: 100%;
  height: 15px; /* スキルバーの高さ */
  background-color: #f3f3f3; /* スキルバーの背景色 */
  overflow: hidden;
}

/* スキルバー本体 */
.skill-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0; /* 初期状態では0 */
  background-color: #34e8d7; /* スキルバーの色 */
  transition: width 3s cubic-bezier(0.22, 1, 0.36, 1); /* スキルバーが伸びる速度を調整 */
}
#education{
    width: 650px;
    margin: auto;
    padding: 20vh;
}
footer{
    height: 60vh;
    width: auto;
}

/*Botton style*/
#gototop{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: aquamarine;
    opacity: 0.6;
}
#gototop a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
}

/*Form*/
#contact{
    width: 130vh;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.contact-item{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}
.title{
    text-align: center;
}
form{
    width: 50%;
    margin: 10% auto;
    min-width: 9rem;
}

input, textarea{
    float: left;
    width: 100%;
    max-width: 100%;
    border: none;
    margin: 0.5em 0;
    padding: 0.5em 1rem;
    border-radius: 0.3em;
    background: darken(#f9f9f9, 10%);
    color: darken(#f9f9f9, 50%);
}
&::placeholder{
    color: darken(#f9f9f9, 50%);
}
&.error{
    background: $red;
    color: #fff;
    &::placeholder{
        color: darken($red, 60%);
    }
}


/*gototop bottom*/
#gototop a::before{
    font-family: 'Font Awesome 5 free';
    font-weight: 900;
    content: '\f062';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

